
.list {
	color: black;
	width: auto;
	margin: 20px auto;
	padding: 1px;
	height: 46px;
	background-color: #fa8aef;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}

.list p {
	margin-top: 10px;
	padding-left: 9px;
}

.non-editable-input {
	padding: 0px;
	transition: ease-in-out;
	background-color: transparent;
	color: black;
	font-size: 17px;
}

.buttons-container {
	margin: 5px 18px 0 0;
	display: flex;
}

.delete-button {
	margin-left: 19px;
	margin-top: 10px;
	cursor: pointer;
}

.edit-button{
	height: 34px;
}